html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
} 
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
/* END RESET CSS */
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;line-height:1.5;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#808080;text-decoration:none;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
.red {color:#FF0000;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

@font-face {
	font-family: 'QlassikMediumRegular';
	src: url('Qlassik_TB-webfont.eot');
	src: local('☺'), url('Qlassik_TB-webfont.woff') format('woff'), url('Qlassik_TB-webfont.ttf') format('truetype'), url('Qlassik_TB-webfont.svg#webfontWn7iYryD') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'QlassikBoldRegular';
	src: url('QlassikBold_TB-webfont.eot');
	src: local('☺'), url('QlassikBold_TB-webfont.woff') format('woff'), url('QlassikBold_TB-webfont.ttf') format('truetype'), url('QlassikBold_TB-webfont.svg#webfontn7hylxja') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* layout */
html {
	background: transparent url("../images/loveapps-1.png") no-repeat bottom left ;
	height:100%;
}
body {
	background: transparent url("../images/bg-header-gray.png") repeat-x ;
	font-family: 'QlassikMediumRegular';
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu .colleft {
	right:75%;			/* right column width */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:22.15%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
.header {
float:left;
text-align:right;
}
.header h1 {
	font-size: 1.5em;
	letter-spacing: 2px;
	margin: 0;
	vertical-align:baseline;
	background:#fff;
	padding: 0.75em 1em 0.5em 0;
	font-family: 'QlassikBoldRegular';
}
.header h1 a{
	color: #000;
}
.header a {
display:block;
font-size: 1em;
}
a#rss, a.tools {
	color: #ccc;
	margin:0.35em 0 0 1em;
}
ul.nav {
text-align: right;
list-style: none;
padding:0;
margin: 0 1.75em 0 0;
font-size: 1.25em;
}
.nav a {
	color: #ccc;
}
.main {
	padding: 1em 0 2em 1em;
	background: transparent url("../images/bg-transp.png") repeat ;
	margin:0;
	font-size: 250%;
	color: #808080;
}
.main h2 a {
	color:#666;
}
