*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
 
<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
	<h2 class="post-title">
	    <a href="@{Application.show(_post.id)}">${_post.title}</a>
	</h2>
    <div class="post-metadata">
        <span class="post-author">by ${_post.author.fullname}</span>,
        <span class="post-date">${_post.postedAt.format('dd MMM yy')}</span>
        #{elseif _post.tags}
		    <span class="post-tags">
		        - Tagged 
		        #{list items:_post.tags, as:'tag'}
		            <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
		        #{/list}
		    </span>
		#{/elseif}
        
    </div>
    #{if _as != 'teaser'}
    iamge=<img src="@{Application.getPicture(_post.id)}">
        <div class="${_post.cssClass.value}">
            ${_post.content.raw().nl2br()}
        </div>
    #{/if}
</div>
