#{extends 'main.html' /}
#{set title:'Posts with a ' + cssClass.toLowerCase() + ' size' /}
 
*{********* Title ********* }*
 
#{if posts.size() > 1}
   <h3>There are ${posts.size()} posts with a '${cssClass}' size</h3>  
#{/if} 
#{elseif posts}
    <h3>There is 1 post tagged with a '${cssClass}' size</h3>  
#{/elseif}
#{else}
    <h3>No post with the '${cssClass}' size</h3>
#{/else}
 
*{********* Posts list *********}*
 
<div class="older-posts">    
    #{list items:posts, as:'post'}
        #{display post:post, as:'teaser' /}
    #{/list}
</div> 
