<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content=""> 
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

        <title>#{get 'title' /}</title>		
        <link rel="shortcut icon" href="@{'/public/images/favicon.png'}">

	<link rel="stylesheet" href="@{'/public/stylesheets/1140.css'}?v=1" type="text/css" media="screen" />
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!-- Make minor type adjustments for 1024 monitors -->
	<link rel="stylesheet" href="@{'/public/stylesheets/smallerscreen.css'}?v=1" media="only screen and (max-width: 1023px)" />
	<!-- Resets grid for mobile -->
	<link rel="stylesheet" href="@{'/public/stylesheets/mobile.css'}?v=1" media="handheld, only screen and (max-width: 767px)" />
	<!--layout -->
	<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}?v=1" type="text/css" media="screen" />
    </head>
    <body>
    <div class="container">
    <div class="row">
    <div class="header">
		<link rel="alternate" type="application/rss+xml" title="All jobs - RSS 2.0" href="@@{Application.index()}all.xml" >
		<a id="rss" class="right" href="@@{Application.index()}all.xml">RSS feed</a>
   		<a class="tools sevencol last right" href="@{Admin.index()}">Entrée des artistes</a>
    	<h1 class="logo threecol last"><a href="">lov<span class="red">ea</span>pps</a></h1>
		<!-- <p>Love apps is the editor of
        <a href="http://www.proposez-moi.fr.org">proposez-moi.fr</a></p> -->
    </div>

	<div class="colmask leftmenu">
		<div class="colleft">
			<div class="col1">
				<div class="main">
						<!-- <span class="about">About this blog</span> -->
			            #{doLayout /} 
			    </div>
			<!-- Column 1 end -->
			</div>
			
			<div class="col2">
			    <ul class="nav">
					<li><a href="@{Application.allPosts}">All articles</a></li>
					<li><a href="@{Application.showPostWithThisCssClass("short")}">short</a></li>
					<li><a href="@{Application.showPostWithThisCssClass("medium")}">medium</a></li>
					<li><a href="@{Application.showPostWithThisCssClass("big")}">big</a></li>
			 		#{list items:models.Tag.findAll(), as:'tag'}
					<li><a href="@{Application.listTagged(tag.name)}">${tag}</a><!--${tag_isLast ? '' : ', '}--></li>
					#{/list}
				</ul>
			<!-- Column 2 end -->
			</div>
		</div>
	</div>
    
    
    
    <div class="footer">
		#{include 'footer.html' /}        
    </div>
    
    </div>
  </div>

    </body>
</html>
